  <div class="bg-black text-light altezza">
    <div class="d-flex align-items-center mb-3">
      <img style="width: 50px" src="https://pbs.twimg.com/media/CikCRQwWgAE7tZi.jpg:large">
      <h1 class="fs-3">Giorgiphy</h1>
    </div>
  <p class="nav-link clickable m-0" routerLink="home" routerLinkActive="active"><i class="bi bi-house-door-fill pe-3 ps-1"></i>Home</p>
    <p class="nav-link clickable m-0 mt-3" routerLink="modifica" routerLinkActive="active"><i class="bi bi-book-half pe-3 ps-1"></i>Modifica</p>

  </div>
